<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Smocking Tool</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	</head>
	<body>
    <div class="interface-container">
      <p>
        Click squares to change state
        <button class="calculate-grid" href="#">Calculate</button>
        <button class="clear-grid" href="#">Clear</button>

      </p>
      <div class="interface">
      </div>
    </div>
	</body>
</html>
