<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Smocking Tool</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	</head>
	<body>
    <div class="interface-container hide-interface">

      <button class="hide-show-grid" href="#">Click To Toggle Editing Interface</button>
      <p>
        Click squares to change state
        <button class="calculate-grid" href="#">Calculate</button>
        <button class="clear-grid" href="#">Clear</button>
        <div class='compressionMethods'>
          <input type="radio" name="compressionMethod" id="diagonalTopToBottom" class="radio-toggle input-hidden" checked/>
          <label for="diagonalTopToBottom">
            <img 
              src="../images/diagonalTopToBottom.jpg" 
              class="radio-toggle"
              alt="Diagonal top to bottom" />
          </label>

          <input type="radio" name="compressionMethod" id="diagonalBottomToTop" class="radio-toggle input-hidden" />
          <label for="diagonalBottomToTop">
            <img 
              src="../images/diagonalBottomToTop.jpg" 
              class="radio-toggle"
              alt="Diagonal bottom to top" />
          </label>

          <input type="radio" name="compressionMethod" id="downLeftSide" class="radio-toggle input-hidden" />
          <label for="downLeftSide">
            <img 
              src="../images/downLeftSide.jpg" 
              class="radio-toggle"
              alt="Down left side" />
          </label>

          <input type="radio" name="compressionMethod" id="acrossTop" class="radio-toggle input-hidden" />
          <label for="acrossTop">
            <img 
              src="../images/acrossTop.jpg" 
              class="radio-toggle"
              alt="Diagonal bottom to top" />
          </label>

          <input type="radio" name="compressionMethod" id="topAndLeftSide" class="radio-toggle input-hidden" />
          <label for="topAndLeftSide">
            <img 
              src="../images/topAndLeftSide.jpg" 
              class="radio-toggle"
              alt="Diagonal bottom to top" />
          </label>


          <input type="radio" name="compressionMethod" id="blank" class="radio-toggle input-hidden" />
          <label for="blank">
            <img 
              src="../images/blank.jpg" 
              class="radio-toggle"
              alt="blank" />
          </label>
        </div>

      </p>
      
      <div class="interface">
      </div>

    </div>
	</body>
</html>
