body {
  font-family: Monospace;
  color: #000;
  margin: 0px;
  overflow: hidden;
}

#info {
  position: absolute;
  padding: 10px;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.interface-container {
  position: fixed;
  width: 400px;
  z-index: 1000;
  background: white;
  border: 1px solid black;
  p {
    padding-left: 20px;
  }
}

.hide-show-grid {
  width: 100%;
  border-radius: 0;
  background: black;
  color: white;
}

.interface {
  width: 400px;
  height: 400px;
  opacity: 1;
}

button {
  opacity: 1;
}

.hide-interface {
  height: 18px;
  .interface, .clear-grid, .calculate-grid, p, .compressionMethods {
    opacity: 0;
  }
}

.tile {
  border: 1px solid lightgrey;
  float: left;
}

[data-state="diagonalBottomToTop"] {
  background: url('../images/diagonalBottomToTop.jpg');
  background-size: 100% 100%;
}

[data-state="diagonalTopToBottom"] {
  background: url('../images/diagonalTopToBottom.jpg');
  background-size: 100% 100%;
}

[data-state="acrossTop"] {
  background: url('../images/acrossTop.jpg');
  background-size: 100% 100%;
}


[data-state="topAndLeftSide"] {
  background: url('../images/topAndLeftSide.jpg');
  background-size: 100% 100%;
}

[data-state="downLeftSide"] {
  background: url('../images/downLeftSide.jpg');
  background-size: 100% 100%;
}

.input-hidden {
   position: absolute;
   left: -9999px;
}

input[type=radio]:checked + label>img {
  box-shadow: 0 0 2px 2px #AAAAFF;
}

.compressionMethods {
  text-align: center;
  label > img {
    width: 24px;
  }
}

