body {
  font-family: Monospace;
  color: #000;
  margin: 0px;
  overflow: hidden;
}

#info {
  position: absolute;
  padding: 10px;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.interface-container {
  position: fixed;
  width: 400px;
  z-index: 1000;
  background: white;
  border: 1px solid black;
  p {
    padding-left: 20px;
  }
}

.hide-show-grid {
  width: 100%;
  border-radius: 0;
  background: black;
  color: white;
}

.interface {
  width: 400px;
  height: 400px;
}

.hide-interface {
  .interface, .clear-grid, .calculate-grid, p {
    display: none;
  }
}

.tile {
  border: 1px solid lightgrey;
  float: left;
}

[data-state="diagonalBottomToTop"] {
  background: url('../images/diagonalBottomToTop.png');
  background-size: 100% 100%;
}

[data-state="diagonalTopToBottom"] {
  background: url('../images/diagonalTopToBottom.png');
  background-size: 100% 100%;
}
